<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <span class="navbar-brand">Pratende Pompmast</span>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarToggler"
    aria-controls="navbarToggler" [attr.aria-expanded]="!isCollapsed" aria-label="Toggle navigation"
    (click)="toggleMenu()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarToggler" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/soundboard">Soundboard</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/upload">Upload</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
